.about {
  background-color: black;
  color: white;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 150px;
  padding-right: 150px;
}

.fixed-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: black;
}

.fixed-menu * {
  background-color: #0d0d0d;
  padding: 5px 10px;
  font-size: 4rem;
}

.about-photo {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: #0d0d0d;
  padding: 20px;
}

.top div {
  display: flex;
  gap: 10px;
}

.tab-buttons {
  background-color: grey;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.tab-buttons div {
  height: 10px;
  width: 100%;
  background-color: #0d0d0d;
}

.photo-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-section img {
  height: 70vh;
  width: 100%;
}

.about-stats {
  background-color: #0d0d0d;
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.about-about {
  background-color: #0d0d0d;
  padding: 20px;
}

.about-main {
  background-color: #0d0d0d;
  padding: 20px;
}

.space {
  height: 40px;
}

.about-stats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-stats-container-anthem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.about-anthems-box {
  display: flex;
  gap: 20px;
  background-color: black;
}

.about-anthems-box img {
  height: 130px;
  width: 130px;
}

.about-anthems-box div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.about-stats-top {
  display: flex;
  gap: 10px;
  align-items: center;
}
