.banner {
  min-height: 90svh;/* Adjust 100px according to your header/footer height */
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.banner h1 {
  font-size: 6rem;
}

.banner p {
  font-size: 4rem;
  color: dodgerblue;
}

.banner img {
  height: 90%;
  width: 95%;
  border-radius: 50px;
}

.banner button {
  all: unset;
  background-color: #0d0d0d;
  border: 1px solid dodgerblue;
  border-radius: 20px;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

#banner-about {
  display: block;
}

@media (min-width: 700px) {
  .banner {
    min-height: 90vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .banner h1 {
    font-size: 6rem;
  }

  .banner p {
    font-size: 3.5rem;
    color: gray;
    text-transform: uppercase;
    padding: 10px;
    width: 80%;
  }

  .banner img {
    height: 60vh;
    width: auto;
    border-radius: 50%;
  }
  #banner-about {
    display: none;
  }
}

.banner-links{
  display: flex;
  gap: 20px;
  font-size: 2rem;
  margin-top: 20px;
}

.banner-links *{
  color: white;
}

.banner span{
  font-size: 2rem;
  width: 50%;
  text-align: center;
}