.contact {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.contact-top {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
}

.contact-container .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding: 20px 10px;
  border-bottom: 1px solid dodgerblue;
  color: white;
  cursor: pointer;
}

.contact-container .box div{
  display: flex;
  align-items: center;
  gap: 10px;
}


.contact-container .box:hover {
  color: grey;
}
