footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px;
    align-items: center;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer span{
    cursor: pointer;
}

@media (min-width: 700px) {
    footer{
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 50px 20px;
        align-items: center;
        color: white;
    }
    
  }