.fullpagenavbar {
  height: 100vh;
  width: 100%;
  background-color: #0d0d0d;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
}

.fullpagenavbar .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  font-size: 2rem;
}

.fullpagenavbar .close-icon:hover {
  font-size: 3.5rem;
  transition: all 0.5s;
}

.fullpagenavbar div {
  font-size: 2rem;
  border-bottom: 1px solid #0d0d0d;
  width: 100%;
  line-height: 5rem;
  letter-spacing: 1rem;
  cursor: pointer;
  color: white;
}

.fullpagenavbar div:hover {
  letter-spacing: 1.5rem;
  transition: all 0.5s;
}

.anime-page-one {
  height: 100vh;
  width: 100%;
  background-color: azure;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.anime-page-one h1 {
  font-size: 7rem;
}

.anime-page-one h2 {
  font-size: 5rem;
}

@media (min-width: 700px) {
  .fullpagenavbar {
    height: 100vh;
    width: 100%;
    background-color: #0d0d0d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
  }

  .fullpagenavbar .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    font-size: 3rem;
  }

  .fullpagenavbar .close-icon:hover {
    font-size: 3.5rem;
    transition: all 0.5s;
  }

  .fullpagenavbar div {
    font-size: 5rem;
    border-bottom: 1px solid #0d0d0d;
    width: 100%;
    line-height: 4.5rem;
    letter-spacing: 1rem;
    cursor: pointer;
    color: white;
  }

  .fullpagenavbar div:hover {
    letter-spacing: 1.1rem;
    transition: all 0.5s;
    color: dodgerblue;
  }

  .anime-page-one {
    height: 100vh;
    width: 100%;
    background-color: azure;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .anime-page-one h1 {
    font-size: 7rem;
  }

  .anime-page-one h2 {
    font-size: 5rem;
  }
}
