nav {
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

nav div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

nav div a {
  all: unset;
  color: white;
}

nav .menu-icon {
  font-size: 2rem;
  cursor: pointer;
}

nav h1 {
  font-size: 1rem;
}

@media (min-width: 700px) {
  nav .menu-icon {
    font-size: 3rem;
    cursor: pointer;
  }
  nav h1 {
    font-size: 2rem;
  }
}
