.projects {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: center;
}

.projects-top {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
}

.projects-container a {
  text-decoration: none;
}

.projects-container .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: white;
  text-transform: uppercase;
}

.projects-container .box span {
  color: gray;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.projects-container .box:last-child {
  border-bottom: none;
}

.projects-container .box:hover {
  color: gray;
}

@media (min-width: 700px) {
  .projects {
    background-color: black;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
  }

  .projects-top {
    padding: 20px;
    text-align: left;
    color: white;
    font-size: 1rem;
    width: 100%;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
  }

  .projects-container a {
    text-decoration: none;
  }

  .projects-container .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
  }

  .projects-container .box:last-child {
    border-bottom: none;
  }

  .projects-container .box:hover {
    color: gray;
  }
  .projects-container .box span {
    color: gray;
  }
}
