.skills {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.skills-top {
  padding: 20px;
  text-align: center;
  color: white;
}

.skills-top h1{
    font-size: 3rem;
  }

.skillspage-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.skillspage-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
}