.skills {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.skills-top {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.skillspage-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.skillspage-container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid dodgerblue;
  border-radius: 20px;
  color: white;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
}

.skillspage-container .box span {
  display: flex;
  align-items: center;
}

.skillspage-container .box:hover {
  border: 1px solid aquamarine;
  background-color: aquamarine;
  border-radius: 20px;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  padding: 20px 40px;
  transition: all 0.5s;
}
