.skills {
  background-color: black;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.skills-top {
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.skillspage-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.skillspage-container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  border-bottom: 1px solid dodgerblue;
  color: white;
  font-size: 2rem;
  padding: 10px 20px;
}

.skillspage-container .box:hover {
  border: 1px solid dodgerblue;
}

