.timeline {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: #0d0d0d;
  padding: 20px;
  border-radius: 20px;
}

.timeline-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.timeline .ph {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.timeline .li {
  width: 10px;
  flex-grow: 1;
  height: 2px;
  background-color: white;
  align-self: flex-end;
  margin-bottom: 60px;
}

@media (min-width: 700px) {
    .timeline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }
      
      .timeline-box{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
      }
      
      .timeline .ph {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: white;
      }
      
      .timeline .li {
        width: 10px;
        flex-grow: 1;
        height: 2px;
        background-color: white;
        align-self: flex-end;
        margin-bottom: 60px;
      }
}